ul.img {
    list-style:none;
    padding:0;
    margin:0;
}

ul.img {
    display:flex
}

ul.img > li {
    display:flex;
    align-item:center;
    padding:10px;
    margin:10px;
    border: 1px solid #e0e0e0;   
    border-radius:8px;
}